/*Remove spaces automatically added by the browser*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

/*Background image*/
header{
    background: url(./home.jpg);
    height: 100vh;
}

.overlay{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
    height: inherit;
    width: inherit;
}

.bar{
    overflow: hidden;
    background: black;
    background: rgba(0,0,0,0.8)
}
.bar a{
    display: block;
    float: left;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 1.5rem;
}

/*First child/ first element*/
.bar a:first-child{
    margin-right: 40%;
    margin-left: 6.0rem;
}

.bar .active{ 
    display: none;
}
.reporting{
    margin: 30px;
    text-align: center;
position: sticky}
h3{
    font-size: 4.0rem;
}
.details{
    font-size: 2.0rem;
    padding: 10px 100px;    
}
/**/
@media screen and (max-width: 600px){
    .bar a:not(:first-child){
        display: none;
    }
    .bar a:first-child{
        margin-right: 0%;
        margin-left: 1.0rem;
    }
    .bar a.active {
        display: block;
        float: right;
    }
    h3{
        font-size: 3.0rem
    }
}
/*Display the menu in block format
*This works directly with the js file
*/
@media screen and (max-width: 600px){
    .bar .responsive{
        position: relative;
    }

    .bar.responsive .active{
        position: absolute;
        right: 0;
        top: 0;
    }
    .bar.responsive a{
        float: none;
        display: block;
        text-align: left;
        color: #f1f1f1;
        }
        .bar{
            background: rgb(0, 0, 0); 
            background: rgba(0, 0, 0, 0.4);
        }
}